[user]
	email = maoze365@gmail.com
	name = mac_vbox

[alias]
	df = !git diff --no-prefix && git diff --staged --no-prefix
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	co = checkout
	con = checkout -b
	ci = commit
	br = branch
	ls =  branch -a
	d = difftool
[mergetool]
	tool = vimdiff

[diff]
	tool = vimdiff
[push]
	default = upstream
[difftool]
	prompt = false
